<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/standardStyle.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/cfd0db899c.js" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/site.webmani  fest">
  <title>cardtap</title>
</head>
<body>
<div class="container">
  <nav class="nav-bar">
    <div class="header1">
      <a href="/"> <img class="nav-image" src="/images/ct2.png" alt=""></a>
    </div>
    <span class="nav-button"> <i class="fas fa-bars" style="color:white;" ></i> </span>
    <ul class="desk-burger">
      <li class="li-desktop active"> <a class="active" href="/">Home</a> </li>
      <li class="li-desktop"> <a href="/users/Packages">Packages</a> </li>
      <li class="li-desktop"> <a href="/users/About">About Us</a> </li>
    </ul>
  </nav>
  <div class="sign">
    <ul>
      <li class="log-desktop"> <a href="/users/login">Login  <i class="fas fa-users"></i></a> </li>
    </ul>
  </div>
</div>
<ul class="nav-burger" style="top: -560px">
  <li class="li-desktop active"> <a href="#">Home</a> </li>
  <li class="li-desktop"> <a href="/users/Packages">Packages</a> </li>
  <li class="li-desktop"> <a href="/users/About">About Us</a> </li>
  <li class="li-desktop"> <a href="/users/login"><i class="fas fa-users"></i>Login</a> </li>
</ul>


<div class="header-img-desktop">
  <div class="text">
    <p class="text-1"> WELCOME TO </p>
    <p class="text-2"> THE FUTURE </p>
  </div>
  <div class="header-img">
    <img src="/images/Group 3.png">
  </div>
  <span class="flow"> flow to see further</span>
  <a href="#block1" class="flow-icon"><i class="fas fa-angle-double-down"></i></a>
</div>
<div class="header-img-mobile">

  <div class="header-mobile-img">
    <img src="/images/Group 3.png">

  </div>
  <div class="text-mobile">
    <p class="text-1-mobile"> WELCOME TO </p>
    <p class="text-2-mobile"> THE FUTURE </p>
  </div>
  <span class="flow-mobile"> flow to see further</span>
  <a href="#block1" class="flow-icon flow-icon-mobile"><i class="fas fa-angle-double-down"></i></a>
</div>
<div id="block1" class="block1">
  <div class="ul-text">
    <div class="img-con right-border fade-in">
      <i style="color: #7f7f7f" class="fa-2x far fa-times-circle"></i>
      <h3>No App!</h3>
      <p>Don’t need an app for CardTap to work</p>
    </div>
    <div class="img-con right-border fade-in">
      <i style="color: #7f7f7f" class="fa-2x fas fa-mobile-alt"></i>
      <h3>My CardTap Profile</h3>
      <p>Get your custom link at card-tap.com/users/yourname</p>
    </div>
    <div class="img-con right-border fade-in">
      <i style="color: #7f7f7f" class="fa-2x fas fa-share-alt"></i>
      <h3>Unlimited Sharing</h3>
      <p>Never run out of business cards again</p>
    </div>
    <div class="img-con fade-in">
      <i style="color: #7f7f7f" class="fa-2x fas fa-address-card"></i>
      <h3>Get your customized card</h3>
      <p>Enjoy our simple touch of colors</p>
    </div>
  </div>
  <div class="vertical-space"></div>
  <div class="how-it-works">
    <div class="img-holder slide-in from-left">
      <img class="gif" src="/images/Cardtap.gif">
    </div>
    <div class="slide-in from-right text">
      <span class="header"> How it works</span>
      <br>
      Just 3 simple steps :
      <br>
      1. Purchase the card
      <br>
      2.Grab your card
      <br>
      3. Tap!
      <br>
      See? it's that simple!
    </div>
  </div>
  <div class="vertical-space"></div>
</div>
<div class="block1 all-your-links">
  <div class="slide-in from-left text">
    <span class="header"> All your links in one page</span>
    WhatsApp, LinkedIn, Facebook, Instagram,<br> Twitter, Youtube, Website, <br>Your contact information, etc.....
    <br>
    Whatever, you name it!
  </div>
  <div class="slide-in from-right image">
    <img alt="" src="/images/section2-img.jpg">
  </div>
  <a class="all-call-to-action" href="/users/Packages">Choose your suitable package  <i style="color:#e24646;" class="fas fa-angle-double-right"></i> </a>
</div>
<footer>
  <div class="social-links">
    <a href="https://www.instagram.com/cardtap_/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/CardTap-346108156529686" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="mailto:mmalatawy6@gmail.com" target="_blank"><i class="fas fa-envelope-square"></i></a>
  </div>
  <div class="other-links">
    <a href="/users/Home">Home</a>
    <span class="horizontal-space"></span>
    <a href="/users/Packages">Packages</a>
    <span class="horizontal-space"></span>
    <a href="/users/About">About Us</a>
  </div>
  <div class="rights">
    © 2021 CardTap
  </div>

</footer>




<script src="/js/js2.js"></script>
<script src="/js/nav.js"></script>
</body>
</html>
