<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style-packages.css">
    <link rel="stylesheet" href="/css/standardStyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cfd0db899c.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>cardtap</title>
</head>
<body>
<div class="container">
    <nav class="nav-bar">
        <div class="header1">
            <a href="/users/homepageL"> <img class="nav-image" src="/images/ct2.png" alt=""></a>
        </div>
        <span class="nav-button"> <i class="fas fa-bars" style="color:white;" ></i> </span>
        <ul class="desk-burger">
            <li class="li-desktop"> <a href="/users/thecardL">The Card</a> </li>
            <li class="li-desktop active"> <a href="/users/thepackageL">Packages</a> </li>
            <li class="li-desktop"> <a href="/users/aboutL">About Us</a> </li>
        </ul>
    </nav>
    <div class="sign">
        <ul>
            <li class="hide"> <a href="/dashboard">My Profile  <i class="fas fa-id-badge"></i></a> </li>
            <li class="log-desktop"> <a href="/users/logout">Logout</a> <i style="color: white" class="fas fa-sign-out-alt"></i></li>
        </ul>
    </div>
</div>
<ul class="nav-burger" style="top: -560px">
    <li class="li-desktop"> <a href="/users/homepageL">Home</a> </li>
    <li class="li-desktop active"> <a href="/users/thepackageL">Packages</a> </li>
    <li class="li-desktop"> <a href="/users/aboutL">About Us</a> </li>
    <li class="li-desktop"> <a href="/dashboard">My Profile  <i class="fas fa-id-badge"></i></a> </li>
    <li class="li-desktop"> <a href="/users/logout">Logout  <i class="fas fa-sign-out-alt"></i></a> </li>
</ul>
<div class="header">
    <span>Our Packages</span>
    <div class="wrapper fade-in">
        <img src="/images/standard-card.jpg" class="image first-image">
        <img src="/images/elite-card.jpg" class="image second-image">
        <img src="/images/prem-card.jpg" class="image third-image">
    </div>
</div>
<a href="#hey">    <i class="fa-4x fas fa-angle-double-down"></i></a>
<div id="hey" class="slide-in from-left standard-container">
    <div class="part1">
        <img src="/images/standard-card2.jpg" class="image-2">
        <img src="/images/standard-back-card.jpg" class="image-2 second-image-2">
    </div>
    <div class="part2">
        <span>S T A N D A R D</span>
        <ul class="pros">
            <li><i style="color: red" class="fas fa-times-circle"></i> Your Name</li>
            <li><i style="color: red" class="fas fa-times-circle"></i> Your Position</li>
            <li><i style="color: red" class="fas fa-times-circle"></i> Your Logo</li>
            <li><i style="color: red" class="fas fa-times-circle"></i> 2 Side-Design</li>
            <li><i style="color: red" class="fas fa-times-circle"></i> Remove Watermark</li>
        </ul>
        <div class="card-number-form">
            <label class="container2">1 - 10
                <input class="rd-standard" type="radio"  name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="container2">11 - 20
                <input class="rd-standard" type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="container2">21 - 30
                <input class="rd-standard" type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="container2">31+
                <input class="rd-standard" type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <span class="standard-price price">Choose your quantity<span style="font-weight: lighter; font-size: 20px"></span></span>
            <button class="package-request" type="submit" name="button">Order it <i class="fas fa-shipping-fast"></i> </button>
        </div>
    </div>
</div>
<div id="hey2" class="slide-in from-right standard-container">
    <div class="part1">
        <img src="/images/prem-card2.jpg" class="image-2">
        <img src="/images/prem-card-back.jpg" class="image-2 second-image-2">
    </div>
    <div class="part2">
        <span>P R E M I U M</span>
        <ul class="pros">
            <li><i style="color: #1cd777" class="fas fa-check-circle"></i> Your Name</li>
            <li><i style="color: #1cd777" class="fas fa-check-circle"></i> Your Position</li>
            <li><i style="color: #1cd777" class="fas fa-check-circle"></i> Your Logo</li>
            <li><i style="color: red" class="fas fa-times-circle"></i> 2 Side-Design</li>
            <li><i style="color: red" class="fas fa-times-circle"></i> Remove Watermark</li>
        </ul>
        <div class="card-number-form">
            <label class="container2">1 - 10
                <input class="rdPremium" type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="container2">11 - 20
                <input class="rdPremium" type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="container2">21 - 30
                <input class="rdPremium" type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="container2">31+
                <input class="rdPremium" type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <span class="premiumPrice price">Choose your quantity<span style="font-weight: lighter; font-size: 20px"></span></span>
            <button class="package-request" type="button" name="button">Order it <i class="fas fa-shipping-fast"></i> </button>
        </div>
    </div>
</div>
<div id="hey3" class="slide-in from-left standard-container">
    <div class="part1">
        <img src="/images/elite-card2.jpg" class="image-2">
        <img src="/images/elite-card-back.jpg" class="image-2 second-image-2">
    </div>
    <div class="part2">
        <span>E L I T E</span>
        <ul class="pros">
            <li><i style="color: #1cd777" class="fas fa-check-circle"></i> Your Name</li>
            <li><i style="color: #1cd777" class="fas fa-check-circle"></i> Your Position</li>
            <li><i style="color: #1cd777" class="fas fa-check-circle"></i> Your Logo</li>
            <li><i style="color: #1cd777" class="fas fa-check-circle"></i> 2 Side-Design</li>
            <li><i style="color: #1cd777" class="fas fa-check-circle"></i> Remove Watermark</li>
        </ul>
        <div class="card-number-form">
            <label class="container2">1 - 10
                <input class="rdElite" type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="container2">11 - 20
                <input class="rdElite" type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="container2">21 - 30
                <input class="rdElite" type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="container2">31+
                <input class="rdElite" type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <span class="elitePrice price">Choose your quantity<span style="font-weight: lighter; font-size: 20px"></span></span>
            <button class="package-request" type="submit" name="button">Order it <i class="fas fa-shipping-fast"></i> </button>
        </div>
    </div>
</div>
<div class="popup-purchase">
    <div class="purchase-content">
        <span class="close">&times;</span>

        <div class="image-order">
            <img src="/images/standard-card2.jpg" class="pop-img image-2">
            <img src="/images/standard-back-card.jpg" class="pop-img image-2 second-image-2">
        </div>
        <form name="contact" class="secondHalf"  action="/users/packEmails" method="POST">
            <textarea class="requested-type" name="message" rows="8" cols="200" placeholder="Your message......."></textarea>
            <span class="pack-type-order"> Standard package</span>
            <label for="">Full Name: </label>
            <input class="check" type="text" name="name" value="" placeholder="Enter your name" required>

            <label for="email"> Email: </label>
            <input class="check" type="Email" id="email " name="email" value="" placeholder="Enter your email" required>

            <label for=""> Phone: </label>
            <input class="check" type="text" name="number" value="" placeholder="Enter your phone number" required>

            <label for=""> Quantity: </label>
            <input class="check" type="text" name="quantity" value="" placeholder=" " class="order-quality-input" required>

            <button class="form-submit" type="submit" name="button"> Order <i class="fas fa-shipping-fast"></i></button>
        </form>
    </div>
</div>
<footer>
    <div class="social-links">
        <a href="https://www.instagram.com/cardtap_/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/CardTap-346108156529686" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="mailto:mmalatawy6@gmail.com" target="_blank"><i class="fas fa-envelope-square"></i></a>
    </div>
    <div class="other-links">
        <a href="/users/homepageL">Home</a>
        <span class="horizontal-space"></span>
        <a href="/users/thepackageL">Packages</a>
        <span class="horizontal-space"></span>
        <a href="/users/aboutL">About Us</a>
    </div>
    <div class="rights">
        © 2021 CardTap
    </div>

</footer>


<script src="/js/submit.js"></script>
<script src="/js/js3.js"></script>
<script src="/js/js2.js"></script>
<script src="/js/nav.js"></script>
<script src="/js/popup.js"></script>
</body>
</html>
