.horizontal-space{
  border: 0.02px solid white;
  padding-top: 8px;
  padding-bottom: 8px;
}
.hide{
  display: none;
}
.header{
  height: 550px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header>span{
  margin: 30px 20px 100px 20px;
  font-family: Mon-Med;
  color: #003366;
  font-size: 70px;
  border-bottom: 6px solid rgb(226,70,70);
  border-radius: 5px;
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.image{
  border-radius: 0.8rem;
  width: 35%;
  transform: rotate(-15deg);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
.first-image{
  margin-left:60px;
}
.second-image{
  position: relative;
  left: -3%;
  top: 6px;
  z-index: 1;
}
.third-image{
  position: relative;
  left: -8%;
  top: 6px;
  z-index: 2;
}
.fa-angle-double-down{
  color: #e24646;
  transition: color 0.5s , font-size 0.5s;
}
.fa-angle-double-down:hover{
  font-size: 120px;
  color: #003366;
}
.standard-container{
  width: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 700px;
  grid-template-areas:"img info" ;
}
.standard-container>.part1{
  grid-area: img;
}
.standard-container>.part2{
  grid-area: info;
}
.part1{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.image-2{
  border-radius: 0.8rem;
  width: 70%;
  transform: rotate(-15deg);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
.second-image-2{
  position: relative;
  left: 20%;
  top: -150px;
  z-index: -1;
}
.part2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.part2>span{
  font-size: 35px;
  font-family: Mon-Med;
  color: #003366;
  font-weight: 900;
}
.part2>.pros{
  width:65%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  list-style: none;
  text-align: justify;
}
.part2>.pros>li{
  font-family: Mon-Med;
  color: #003366;
  width: 50%;
  gap: 5px;
  text-align: left;
  margin:10px auto;
}
.container2 {
  color: #003366;
  font-family: Mon-Med;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.5s;
}

/* Hide the browser's default radio button */
.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  transition: 0.5s;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container2 input:checked ~ .checkmark {
  background-color: black;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container2 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container2 .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.card-number-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.price{
  color: #003366;
  font-family: Mon-Med;
  font-weight: bolder;
  margin: 20px;
  font-size: 35px;
  text-align: center;
  width: 100%;
}
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.fade-in.appear {
  opacity: 1;
}
.from-left {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.from-right {
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: opacity 0.5s ease-in, -webkit-transform 0.7s ease-in;
  transition: opacity 0.5s ease-in, transform 0.7s ease-in;
  transition: opacity 0.5s ease-in, transform 0.7s ease-in,
  -webkit-transform 0.7s ease-in;
  opacity: 0;
}
.from-left.appear, .from-right.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
.header-img-mobile{
  display: none;
}
.packages-poster-holder{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}
.package-poster{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 49.86%;
}
.poster{
  padding: 20px;
  width: 70%;
  margin: 40px;
  border-radius: 4px;
  color: white;
   background: rgb(0,0,0,0.7);
   box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
     transition: 1s transform cubic-bezier(.155,1.105,.295,1.12),1s box-shadow,1s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
 cursor: pointer;
}
.poster:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.poster>h3{
  text-align: center;
  font-weight: 600;
}
.package-box{
  margin: 20px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 120px;
  margin-top: 120px;
}
.package-type{
  background-color: #003366;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 20px;
  text-align:center;
  width: 100%;
  padding: 15px;
  color:white;
  font-size: 25px;
}
.package-img{
  margin: 20px;
  width: 50%;
}
.package-img>img{
  transition: 1s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  width: 100%;
  border-radius: 25px;
}
.package-info{
  margin: 20px;
  width: 40%;
  font-size: 20px;
}
.package-request{
  width: 50%;
  text-decoration: none;
  background-color: #1cd777;
  color:white;
  text-align: center;
  padding: 15px;
  border-radius: 50px;
}
.product-container{
  background-color: #E4F7FF;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
  margin-top: 120px;
}
.requested-type{
  display: none;
}
.active{
  background-color: #f2c136;
}
.popup-purchase{
  display: none;
  position: fixed;
  flex-direction: column;
  align-items: center;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.pack-type-order{
  font-family: Mon-Med;
  color: #003366;
  font-size: 35px;
  margin: 15px;
  text-align: center;
  width: 100%;
}
.secondHalf{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 40%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.purchase-content{
  margin: 0 auto;
  width: 70%;
  z-index: 6;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.image-order{
  margin-top: 160px;
  margin-left: 60px;
  width: 40%;
}
textarea{
  width: 55%;
  margin: 15px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #f2c136;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
input{
  width: 55%;
  height: 30px;
  background-color:white;
  margin: 5px;
  outline: none;
}
label{
  font-size: 20px;
  width:30%;
  margin: 15px;
  outline: none;
  border: none;
}
.button-holder:hover,button:hover{
  background-color: #1cd777;
}
button{
  background-color:#71eec8;
  border: none;
  color: white;
  width: 100%;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
  font-size: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
button:after{
  border: none;
}
.cover{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input[type=text]{
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgba(226,70,71,0.7);
}
input[type=email]{
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgba(226,70,71,0.7);
}
.promo-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.promo-validation{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: #e24647;
  transition: all 0.1s;
  cursor: pointer;
}
.promo-validation:hover{
  opacity: 0.7;
}
.hide2{
  display: none;
}
@media screen and (max-width: 850px) {
  .header-img-desktop{
    display: none;
  }
  .header{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header>span{
    font-size: 50px;
    margin-bottom: 70px;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image{
    width:50%;
  }
  .first-image{
    margin-left:20px;
  }
  .second-image{
    left: -2%;
    top: -15px;
  }
  .third-image{
    left:-7%;
    top:-20px;
  }
  .standard-container{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .part2>.pros{
    width:80%;
  }
  .packages-poster-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .package-poster{
   min-width: 100%;
  }
  .poster{
    padding: 20px;
    border-radius: 4px;
    margin: 5px;
    color: white;
     background: rgb(0,0,0,0.7);
     box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
       transition: 1s transform cubic-bezier(.155,1.105,.295,1.12),1s box-shadow,1s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
   cursor: pointer;
  }
  .poster:hover{
       transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
  .poster>h3{
    text-align: center;
    font-weight: 600;
  }
  .poster>p{
    display: none;
  }
  .package-box{
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 120px;
    margin-top: 120px;
  }
  .package-type{
    background-color: #003366;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 20px;
    text-align:center;
    width: 100%;
    padding: 15px;
    color:white;
    font-size: 25px;
  }
  .package-img{
    margin: 20px;
    width: 70%;
  }
  .package-img>img{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 100%;
    border-radius: 25px;
  }
  .package-info{
      text-align: center;
    margin: 20px;
    width: 100%;
    font-size: 20px;
  }
  .price{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
  }
  .package-request{
    width: 92%;
  }
  .product-container{
    background-color: #E4F7FF;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
    margin-top: 120px;
  }
  button{
    background-color:black;
    border: none;
    color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: -3px;
  }
  .hide{
    display: inline;
    font-size: 20px;
    padding-bottom: 27px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 33px;
    transition: 0.5s;
  }
  .purchase-content{
    width: 95%;
    overflow: auto;
    flex-direction: column;
  }
  .image-order{
    width: 50%;
    margin-top: 100px;
  }
  .secondHalf{
    margin-top: -50px;
    width: 100%;
    flex-direction: column;
    border-bottom-left-radius: 0;
    border-bottom-right-radius:0 ;
  }
  .pack-type-order{
    margin: 0;
  }
  .popup-purchase{
    padding-top: 0;
  }
  .second-image-2{
    top: -80px;
  }
}
